/*********************************************************************************************************/
/* setup.css */
/*********************************************************************************************************/

/*********************************************************************************************************/
/* setupform */
/*********************************************************************************************************/
.setupform {
  float: left;
  width: 810px;
  min-height: 450px;
  background-color: white;
  border: 1px solid #C5D5E0;
  margin-left: 5px;
}

/*********************************************************************************************************/
/* setuppage */
/*********************************************************************************************************/
.setuppage {
  width: 750px;
  margin: 14px auto 20px 30px;
}

/*********************************************************************************************************/
/* input */
/*********************************************************************************************************/
.setuppage input {
  max-width: 200px;
  height: 100%;
}

/*********************************************************************************************************/
/* select */
/*********************************************************************************************************/
.setuppage select {
  max-width: 200px;
}