/*********************************************************************************************************/
/* dialogIpcameraChangePassword.css */
/*********************************************************************************************************/

#dialogIpcameraChangePassword {
  width: 400px !important;
}

#dialogIpcameraChangePassword dl dt {
  width: 200px;
}

#dialogIpcameraChangePassword dl dd {
  width: 180px;
}

#dialogIpcameraChangePassword dl dd input{
  width: 170px;
}

