/*********************************************************************************************************/
/* setup.css */
/*********************************************************************************************************/

/*********************************************************************************************************/
/* setupform */
/*********************************************************************************************************/

.setupform {
  float: left;
  margin-right: 0;
  min-height: 1px;
}

/*********************************************************************************************************/
/* setuppage */
/*********************************************************************************************************/
.setuppage {
  margin: 1em;
}

/*********************************************************************************************************/
/* pageTitle */
/*********************************************************************************************************/
.setuppage h2{
  font-weight: bold;
  color: #373487;
  text-decoration: none;
}

.setuppage h2 span{
  font-size: 2em;
}

/*********************************************************************************************************/
/* subtitle */
/*********************************************************************************************************/
.setuppage h3{
  font-weight: bold;
  color: #373487;
  background-color: #E6F0F9;
  text-decoration: none;
  padding: 3px;
  margin: 5px;
}

/*********************************************************************************************************/
/* table */
/*********************************************************************************************************/
.setuppage table {
  text-align:center;
}

.setuppage table th {
  border: 1px solid #C5D5E0;
  background-color: #E6F0F9;
  font-weight: normal;
  color: #6CA4C8;
}

.setuppage table tr {
}

.setuppage table td {
  white-space: nowrap;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #ffffff;
  font-weight: normal;
  color: #373487;
}

/*********************************************************************************************************/
/* dl & dt */
/*********************************************************************************************************/
.setuppage dl {
  line-height: 1.5em;
}

.setuppage dl dt {
  width: 300px;
  margin-right: 14px;
  font-weight: normal;
  color: #78ABCD;
  text-align: right;
  float: left;
}

/*********************************************************************************************************/
/* input */
/*********************************************************************************************************/
.setuppage dl dd input {
  width: 170px;
  margin: 2px 0 1px 0;
  color: #373487;
  text-align: center;
}

.setuppage table td input{
  color: #373487;
  text-align: center;
}


/*********************************************************************************************************/
/* select */
/*********************************************************************************************************/
.setuppage dl dd select {
  width: 170px;
  margin: 2px 0 1px 0;
  color: #373487;
}

.setuppage table select{
  color: #373487;
  text-align: center;
}

